            <div class="col-4">
                <div class="icon-container">
                    <a href="/checkout"><i class="fa-solid fa-dollar-sign"></i></a>
                    <div class="loaner-text">Loaner</div>
                    </div>
                </div>