    {{!-- main webpage content --}}
            <div class="row align-items-center justify-content-between">
            {{!-- column left side --}}
            <div class="col-6">
                <div class="row justify-content-center homepage-buttons">
                    {{> loanerButton }}
                    {{> rentButton }}
                </div>

                <div class="container-fluid">
                How To Use The Webpage:
                <ol>
                    <li>number one i am making this text really long and unnecessary to see how it will react to the wrap function</li>
                    <li>number two</li>
                    <li>number three</li>
                    <li>number four</li>
                </ol>
                </div>

                <div class="container-fluid">
                About Us:
                <p>
                    Here is some about us info, I am just writing a lot of text her that has absolutely no meaning or importance what so ever, it also just so ridiculously long to test the wrapping functionality
                </p>
                </div>

            </div>

            {{!-- column right side --}}
            <div class="col-4">
                <div class="container">
                <div class="row">
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                </div>

                <div class="row">
                    Browse By Course:
                </div>
                <div class="row">
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                </div>

                <div class="row">
                    Browse By Subject:
                </div>
                <div class="row">
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="col">
                    <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                </div>
            </div>

        </section>
    </div>