<div>
<div class="row justify-content-between">
    <div class="col-4">
        <h1>
            <a href="/">Book'n Borrow</a>
        </h1>
    </div>

    <div class="col-4">
        <h6>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            </ul>
        </h6>
    </div>
</div>
</div>