                <div class="col-4">
                    <div class="icon-container">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <div class="renter-text">Renter</div>
                    </div>
                </div>