                <div class="signup-section">
                    <h2>New User?</h2>
                    <!-- sign up button -->
                    <div>
                        {{> buttons/signupButton}}
                    </div>
                </div>