<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <div id="container">
      <section class="open-book">
        {{> navigation}}
        {{{body}}}

      </section>
    </div>
    {{> footerScript}}
  </body>
</html>