
            <!-- {{!-- main webpage content --}} -->
            <div class="row justify-content-between">
                <!-- {{!-- column left side --}} -->
                <div class="col-5">
                    <h3>Here is Your Selection:</h3>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Title:</th>
                                <th scope="col">ISBN</th>
                                <th scope="col">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{book.bookName}}</th>
                                <td>{{book.isbn}}</td>
                                <td>${{book.rentalPrice}}</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                <!-- {{!-- column right side --}} -->
                <div class="col-5">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="/" type="button">Continue Browsing</a>
                        <button class="btn btn-success checkout-button" data-book-id="{{book.id}}" type="button">Checkout <i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> scripts/checkoutscript}}
