<!-- {{!-- main webpage content --}} -->
{{> format/leftSideOpen}}
                    <h3>Profile</h3>
                    <!-- profile info -->
                    <dl class="row">
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">John Doe</dd>
                    
                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9">testemail@gmail.com</dd>
                    </dl>
{{> format/leftSideClose}}
                <!-- {{!-- column right side --}} -->
{{> format/rightSideOpen}}
                     <!-- rentals -->

                    {{> tables/rented-lendingTable}}
                </div>
            </div>
        </section>
{{> format/rightSideClose}}
{{> scripts/returnBookScript}}