<!-- {{!-- main webpage content --}} -->
{{> format/leftSideOpen}}
        <!-- search bar -->
{{> forms/searchBar}}
        <!-- filters -->
        <h3>Search Filters:</h3>
        <div class="form-check">
        <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="isbn-filter"
        />
        <label class="form-check-label" for="isbn-filter">
            ISBN Search
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="subject-filter"
        />
        <label class="form-check-label" for="subject-filter">
            Subject
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="title-filter"
        />
        <label class="form-check-label" for="title-filter">
            Title
        </label>
        </div>
        <div class="form-check">
        <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="course-filter"
        />
        <label class="form-check-label" for="course-filter">
            Course
        </label>
        </div>
{{> format/leftSideClose}}
    <!-- {{!-- column right side --}} -->
{{> format/rightSideOpen}}
{{> listingSection}}

{{> format/rightSideClose}}
{{> scripts/searchPageScript}}
{{> scripts/searchbarScript}}

