
            <!-- {{!-- main webpage content --}} -->
{{> format/leftSideOpen}}
                    <h2>Sign Up:</h2>
                    <form class="signup-form">
                        <!-- first/last name input -->
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name" id="first-name">
                                </div>
                                <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" id="last-name">
                                </div>
                            </div>
                            <!-- email -->
                            <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email-signup">
                            </div>
                            </div>
                            <!-- password -->
                            <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password-signup">
                            </div>
                            </div>
                            <!-- signup button -->
                            <div class="gap-2 col-3 mx-auto">
                                <button type="submit" class="btn btn-primary" id="signup-submit">Sign Up</button>
                            </div>
                        </form>
{{> format/leftSideClose}}
                <!-- {{!-- column right side --}} -->
{{> format/rightSideOpen}}
                    <h2>Existing User?</h2>
                    <!-- sign up button -->
                    <div>
                        <a href="/login" class="btn btn-success" id="login-page-route">Login Here!</a>
                    </div>
                </div>
            </div>
        </section>
{{> format/rightSideClose}}

{{> scripts/signupScript}}
