#container {
    float: left;
    padding: 1em;
    width: 100%;
}

.fa-dollar-sign {
    color: green;
    font-size: 75px;
   
}

.fa-magnifying-glass {
    color: black;
    font-size: 75px;
}

.homepage-buttons {
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.renter-text {
    transform: translate(y = 5px);
}

/*** OPEN BOOK ***/
.open-book {
    background: #fff;
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #000;
    padding: 2em;
}

/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 50em ) {

    .open-book {
        margin: 1em;
        position: relative;
    }

    .open-book:before {
        background-color: #8B4513;
        border-radius: 0.25em;
        bottom: -1em;
        content: '';
        left: -1em;
        position: absolute;
        right: -1em;
        top: -1em;
        z-index: -1;
    }

    .open-book:after {
        background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
        bottom: -1em;
        content: '';
        left: 50%;
        position: absolute;
        top: -1em;
        transform: translate(-50%,0);
        width: 4em;
        z-index: 1;
    }
}