                        <form action="">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Book Name:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type Book Name Here">
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">Author:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type Author Name Here">
                            </div>
                            <div class="row mb-3"> 
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Year Published:</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="YYYY">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Rental Price:</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="##.##">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">ISBN Number:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="#############">
                            </div>
                            <div class="row mb-3"> 
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Subject:</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Type Subject Here">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Course:</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Type Course Here">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">Book Cover URL:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type Book Cover URL Here">
                            </div>
                        </form>