
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Book Name:</label>
                                <input type="text" class="form-control" id="title" placeholder="Type Book Name Here">
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">Author:</label>
                                <input type="text" class="form-control" id="author" placeholder="Type Author Name Here">
                            </div>
                            <div class="row mb-3"> 
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Year Published:</label>
                                    <input type="text" class="form-control" id="year" placeholder="YYYY">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Rental Price:</label>
                                    <input type="text" class="form-control" id="price" placeholder="##.##">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">ISBN Number:</label>
                                <input type="text" class="form-control" id="isbn" placeholder="#############">
                            </div>
                            <div class="row mb-3"> 
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Subject:</label>
                                    <input type="text" class="form-control" id="subject" placeholder="Type Subject Here">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Course:</label>
                                    <input type="text" class="form-control" id="course" placeholder="Type Course Here">
                                </div>
                            </div>
                            {{!-- <div class="mb-3">
                                <label for="formGroupExampleInput2" class="form-label">Book Cover URL:</label>
                                <input type="text" class="form-control" id="book-cover-url" placeholder="Type Book Cover URL Here">
                            </div> --}}
