    <div class="col-8 searchbar">
        <div class="input-group mb-4 ">
            <input type="text" class="form-control" id="searchbar" placeholder="Search Input" />
            <button class="btn btn-primary" type="button" id="search-bar-button"> Search </button>
        </div>
    </div>