                <div class="container-fluid">
                    <h4 style="font-weight: bold">About Us: </h4>
                    <p> The app that revolutionizes how you access textbooks. Say goodbye to buying new books every semester and hello to affordable rentals. 
                        Rent the books you need and earn money by leasing out your own collection. BooknBorrow, the Airbnb for books.</p>
                </div>