                <div class="container-fluid" id="about-us">
                    <h4 style="font-weight: bold">About Us: </h4>
                    <img src="https://media-exp1.licdn.com/dms/image/C561BAQH7197CT_elag/company-background_10000/0?e=2159024400&v=beta&t=DgElkFE4BufHhnOJUCaUxiGhiYlPjFspQWa_wS-Qe2s" style="width: 10px;" height="250px" class="d-block w-100" alt="...">
                    <p> The app that revolutionizes how you access textbooks. Say goodbye to buying new books every semester and hello to affordable rentals. 
                        Rent the books you need and earn money by leasing out your own collection. BooknBorrow, the Airbnb for books.</p>
                </div>