                <div class="container-fluid how-to-use-section">
                <h4 style="font-weight: bold">How To Use The Webpage: </h4>
                <ol>
                    <li>What to loan a book? Click on Loaner and create a new listing</li>
                    <li>What to rent a book? Click on Renter and search for a book</li>
                    <li>Want to browse for a book already listed? Click on Listings to select your choice</li>
                    <li>Account creation and login required to checkout a book</li>
                    <li>What are you waiting for? Start making money as a loaner or saving money as a renter</li>
                </ol>
                </div>